:host {
  display: contents;
}

nav {
  background: #1b1c22;
  font-family: Urbanist, sans-serif;
  font-weight: bold;
  letter-spacing: 0.6px;
  border-bottom: solid 1px var(--highlight-color);

  &.closed {
    display: none;
  }
}

.app-title {
  color: var(--highlight-color);

  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  transition: transform 0.2s;
  &:hover {
    transform: scale(1.036);
  }
}
