<div class="title-container text-center mb-8">
  <h1 class="text-2xl font-bold">Tabbo</h1>
  <p class="text-sm">
    the tab tool for tabbing top, trivial, trendy or thematically tab-alicious
    thumping triumphant tabs
  </p>
  <p class="text-xs">(alliteration is cool :3)</p>
</div>

<!-- TODO: List available tabs saved locally. Open them on click -->

<div class="tab-container flex justify-center">
  @let tab = activeTab();
  @if (tab) {
    <app-tab [tab]="tab" [tuning]="standardTuning" />
  } @else {
    <p class="text-sm text-purple-300">No tab is active right now</p>
  }
</div>
<!-- TODO: <app-shortcut-list /> -->

<!-- TODO: Tapping a note on the fretboard should modify the tab accordingly -->
<app-guitar-fretboard
  [readableTuning]="standardTuning"
  [fretAmount]="22"
/>
