:host {
  display: contents;
}

.workspace {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.empty-workspace-notice {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  margin: auto;
  width: 100%;
  max-width: 400px;

  & .action-list {
    display: flex;
    gap: 0.25rem;
    list-style-type: none;
  }
}

.tab {
  display: flex;
  max-width: 35rem;
  background: #262626;
  color: #c3c3c3;
  margin-inline: auto;

  border-radius: 1rem;
  box-shadow:
    rgba(0, 90, 186, 0.16) -2px -2px 4px 2px,
    rgba(156, 69, 249, 0.23) 2px 2px 4px 2px;
  padding: 1rem 0.75rem;
  transition: transform 300ms;
  touch-action: none;

  &:hover {
    transform: scale(1.015);
  }
}
