<!-- TODO: <app-shortcut-list /> -->
<div class="flex flex-col grow px-4 py-8">
  <div class="title-container text-center mb-8">
    <h1 class="text-2xl font-bold">Tabbo</h1>
    <p class="text-sm">
      the tab tool for tabbing top, trivial, trendy or thematically tab-alicious
      thumping triumphant tabs
    </p>
    <p class="text-xs">(alliteration is cool :3)</p>
  </div>

  <!-- TODO: List available tabs saved locally. Open them on click -->

  <div class="tab-container my-auto box-border text-center">
    @let err = error();
    @let tab = activeTabData();

    @if (!tab) {
      <p class="text-sm text-purple-300">No tab is active right now</p>
      <button app-button (click)="openNewTab()">Create new tab</button>
    } @else {
      <app-tab
        [tabData]="tab"
        [chordMode]="chordMode()"
        [selectedColumn]="editingColumn()"
        (onColumnClick)="updateEditingColumn($event)"
        [hasTabChanged]="hasTabChanged()"
        (onSaveRequest)="saveTab()"
      />
    }

    @if (err) {
      <p class="block mt-3 text-red-400 text-xs">{{ err }}</p>
    }
  </div>
</div>

<app-fretboard
  [instrument]="tab?.instrument || defaults.instrument"
  [tuning]="defaults.tuning"
  [fretAmount]="defaults.fretAmount"
  (fretTapped)="updateCurrentTab($event)"
/>
