:host {
  display: contents;
}

.fancy, .ycnaf {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-property: transform;
}

.fancy {
  transform: translateX(100%);
  transition-duration: .6s;
}

.ycnaf {
  transform: translateX(-100%);
  transition-duration: .8s;
}

section:is(.fancy, .ycnaf).animate {
  transform: translateX(0);
}

.bg-1 {
  background: #2657eb;
  background: linear-gradient(to right, #de6161, #2657eb);
}

.bg-2 {
  background: #4568DC;
  background: linear-gradient(to right, #B06AB3, #4568DC);
}
