:host {
  display: contents;
}

.tab-element {
  &.active {
    background: var(--color-blue-500);
  }

  &.big-num {
    font-size: var(--text-xs);
    padding-inline: var(--spacing);
  }
}
