@let col = selectedColumn();
<div class="tab flex gap-1">
  <ul class="tuning gap-1.25 flex flex-col font-bold">
    @for (note of tabData().tuning; track $index) {
      <li>{{ note }}</li>
    }
  </ul>
  <div aria-hidden="true" class="w-[1px] bg-white"></div>
  <div class="tab-content custom-scrollbar gap-1 pb-1">
    @for (line of tabData().tab; track $index) {
      <ul class="tab-line" [style]="tabLineStyles()">
        @for (str of line; track $index; let _col = $index) {
          <li>
            <button
              class="tab-element font-mono rounded-sm bg-gray-600 hover:bg-gray-700"
              [class.active]="col === _col"
              [class.big-num]="str.length > 1"
              (click)="updateSelectedColumn(_col)"
            >
              {{ str }}
            </button>
          </li>
        }
      </ul>
    }
  </div>
</div>

@let saveable = hasTabChanged();
<button
  app-button
  [ariaDisabled]="!saveable"
  [class.active]="saveable"
  class="save-btn"
  (click)="requestTabSave()"
>
  Save
</button>
