:host {
  display: contents;
}

.guitar-container {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 20px;
}

.guitar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-purple-950) var(--color-gray-700);
}

.setting {
  display: flex;
  place-items: center;

  & .label {
    font-weight: bold;
  }
}
