<div
  class="guitar-container flex flex-col items-center-safe gap-1.5 px-4 py-2.5 bg-gray-800"
>
  <div class="settings-list flex flex-wrap gap-x-2.5 px-2.5 text-xs">
    <div class="setting gap-1.5">
      <p class="label">Key:</p>
      <select name="key" [value]="key()" (change)="handleKeyChange($event)">
        <option value="">Unset</option>
        @for (note of octaveNotes; track $index) {
          <option [value]="note">{{ note }}</option>
        }
      </select>
    </div>
    <div class="setting gap-1.5">
      <p class="label">Show:</p>
      <select name="viewMode" [(ngModel)]="viewMode" class="p-0.5">
        <option value="number">fret numbers</option>
        <option value="note">notes</option>
      </select>
    </div>
  </div>
  <div class="guitar max-w-full flex gap-2 p-2">
    <div class="tuning flex flex-col gap-1">
      @for (note of tuning(); track $index) {
        <button class="cursor-pointer font-bold hover:text-blue-400">
          {{ note }}
        </button>
      }
    </div>
    <div class="fretboard custom-scrollbar pb-1 overflow-x-auto grid gap-1">
      @for (
        stringFretArray of fretboardArray();
        track $index;
        let line = $index
      ) {
        <div class="flex gap-1">
          @for (fret of stringFretArray; track $index; let col = $index) {
            <button
              class="cursor-pointer w-6 h-6 rounded-md text-sm bg-gray-900 transition-colors duration-100 hover:bg-blue-400 hover:text-black"
              (click)="handleNoteTap(line, col)"
            >
              {{ fret }}
            </button>
          }
        </div>
      }
    </div>
  </div>
  <p class="text-xs text-center">
    To change tuning, click or tap the notes on the left.
  </p>
  <p class="text-xs text-center">
    Selecting a <strong>key</strong> will highlight the notes that belong to it.
  </p>
</div>
