:host {
  display: contents;
}

.fretboard {
  scrollbar-width: thin;
  scrollbar-color: var(--color-blue-300) var(--color-gray-500);
}

.setting {
  display: flex;
  place-items: center;
}
