<div class="fretboard-container flex flex-col gap-1.5">
  <div class="settings-list flex gap-4 px-2.5 text-xs">
    <div class="setting gap-1.5">
      <p>Key:</p>
      <select [value]="key()" (change)="handleKeyChange($event)">
        <option value="">Unset</option>
        @for (note of octaveNotes; track $index) {
          <option [value]="note">{{ note }}</option>
        }
      </select>
    </div>
    <div class="setting gap-1.5">
      <p>Show</p>
      <select [(ngModel)]="viewMode" class="p-0.5">
        <option value="number">fret numbers</option>
        <option value="note">notes</option>
      </select>
    </div>
  </div>
  <div class="flex">
    <div class="tuning flex flex-col px-2 gap-1">
      @for (note of tuning(); track $index) {
        <button class="cursor-pointer font-bold hover:text-blue-400">
          {{ note }}
        </button>
      }
    </div>
    <div class="fretboard grid gap-1 overflow-x-auto">
      @for (stringFretArray of fretboardArray(); track $index) {
        <div class="flex gap-1">
          @for (fret of stringFretArray; track $index) {
            <button
              class="cursor-pointer w-6 h-6 rounded-md text-sm bg-gray-900 hover:bg-gray-800"
            >
              {{ fret }}
            </button>
          }
        </div>
      }
    </div>
  </div>
  <p class="text-xs text-center">
    To change tuning, click or tap the notes on the left.
  </p>
</div>
